// Define variables for your color scheme

// For example:

$red: #EA5455;
$blue: #2D4059;
$yellow: #FFD460;
$orange: #F07B3F;
$green: #32B796;
$gray: #000000;
$light-gray: #e7e7e7;
$brownie-gray: #706F6E;
