<div class="footer" id="footer">
  <div class="footer-copyright">
    <h5>Connect with us on social media</h5>
    <div class="social-links">
      <a href="#"><i class="fab fa-instagram social"></i></a>
      <a href="#"><i class="fab fa-facebook-f social"></i></a>
      <a href="#"><i class="fab fa-twitter twitter social"></i></a>
      <a href="#"><i class="fab fa-linkedin-in social"></i></a>
    </div>
    <div class="footer-links">
      <a href="#"> Terms of Use</a> | <a href="#">Privacy Policy</a> | <a href="#">Legal</a>
    </div>
  </div>
</div>
