<div class="container" style="position: relative">
  <div class="container banner-v2">
    <div class="content-banner">
      <h1 style="font-weight: bolder">Votre mariage en seulement <strong class="underline">quelques clics</strong></h1>
      <p>Lancer une recherche et réserver votre bundle en un rien de temps.</p>
      <%= link_to "Commencer", new_bundle_path, class: 'btn-validate' %>
    </div>
    <div class="small-banner" data-images="<%= image_url 'small-banner-1.jpg' %>,<%= image_url 'small-banner-2.jpg' %>,<%= image_url 'small-banner-3.jpg' %>">
      <h1>transparent text</h1>
    </div>
  </div>

  <div class="homepage-cards-2">
    <div class="homepage-card-2">
      <div class="hp-card-number-container-2">
        <div class="number-in-circle-2">
          <h4 style="margin: 0px; font-weight: 700">1</h4>
        </div>
      </div>
      <div class="content-homepage-card-2">
        <div class="hp-card-title-container-2">
          <h5><i class="fas fa-search"></i></i> Recherchez</h5>
        </div>
        <p>Commencez votre recherche en indiquant date, région, nombre d'invités et un budget maximum. Ensuite, précisez-nous les prestations souhaitées parmi les six types proposés.</p>
      </div>
    </div>
    <div class="angle-hp-card-2">
      <i class="fas fa-angle-right"></i>
    </div>
    <div class="homepage-card-2">
      <div class="hp-card-number-container-2">
        <div class="number-in-circle-2">
          <h4 style="margin: 0px; font-weight: 700">2</h4>
        </div>
      </div>
      <div class="content-homepage-card-2">
        <div class="hp-card-title-container-2">
          <h5><i class="fas fa-lock"></i> Choisissez</h5>
        </div>
        <p>Notre algorithme vous pré-sélectionne les 3 meilleurs prestataires pour chaque catégorie. Cliquez sur le cadenas pour valider votre choix !</p>
      </div>
    </div>
    <div class="angle-hp-card-2">
      <i class="fas fa-angle-right"></i>
    </div>
    <div class="homepage-card-2">
      <div class="hp-card-number-container-2">
        <div class="number-in-circle-2">
          <h4 style="margin: 0px; font-weight: 700">3</h4>
        </div>
      </div>
      <div class="content-homepage-card-2">
        <div class="hp-card-title-container-2">
          <h5><i class="fas fa-credit-card"></i> Payez</h5>
        </div>
        <p>Nous vous permettons de mutualiser le règlement de votre mariage en un. Payez tous les services que vous avez sélectionnés en ligne (paiement sécurisé).</p>
      </div>
    </div>
  </div>
</div>
