<div class="confirmation">
  <div class="confirmation-photo">
  </div>
  <div class="confirmation-message">
    <h4><strong>Félicitations <%= current_user.first_name %> !</strong></h4><br>
    <p>
      Votre paiement a bien été effectué. A présent, l'équipe Wedpacker s'occupe de tout !
      <br><br>
      Un email contenant un <strong>récapitulatif</strong> de votre commande, ainsi que les <strong>informations</strong> relatives à toutes vos prestations vous a été envoyé.
      <br><br> N'hésitez pas à nous contacter à l'adresse <strong>customer.service@wedpacker.com</strong> pour plus de renseignements.
      <br><br> Nous vous remercions pour votre confiance !
      <br><br>
      <div id="#team-logo"><%= image_tag "logo_wp_blue.png", height: 25 %> <em><strong>Team</strong></em></div>
    </p>
  </div>
</div>
