<div class="container">
  <h1>You have created <%= @suppliers.count %> suppliers</h1>


  <%= link_to new_supplier_path do %>
    <i class="fa fa-plus-square" aria-hidden="true"></i>
    <span>Add a new supplier</span>
  <% end %>
</div>
